<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="../static/img/logobranco.png" style="width: 80px;" alt="logo_trevigno">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-secondary">
                            <i class="bi bi-house" style="padding-left: 10px;"></i>
                            <br>
                                <use xlink:href="#home"></use>
                            </svg>
                            inicio
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-calendar-week" style="padding-left: 40px;"></i>
                            <br>
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            cronogramas
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                        <i class="bi bi-shift" style="padding-left: 15px;"></i>
                            <br>
                                <use xlink:href="#table"></use>
                            </svg>
                            cargas
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dieta' %}" class="nav-link text-white">
                            <i class="bi bi-fork-knife" style="padding-left: 15px;"></i>
                            <br>
                                <use xlink:href="#grid"></use>
                            </svg>
                            dietas
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-person-circle" style="padding-left: 30px;"></i>
                            <br>
                            <use xlink:href="#people-circle"></use>
                            </svg>
                            meu perfil
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
