body{
    background: linear-gradient(to right, #2080d3, #87ccdb);
}
.alerta-dieta{
    display: flex;
    justify-content: center;
    color: red;
}
.descricao-dieta{
    font-size: larger;
    display: flex;
    width: 50%;
}
.descricao-dieta2{
    display: flex;
    justify-content: space-around;
}
  
.h1-dieta{
    padding-bottom: 30px;
} 
.img-dieta1{
    display: flex;
    justify-content: center;
}
.blocos-dieta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2-dieta{
    display: flex;
    justify-content: center;
}
.tresimgs{
    display: flex;

}

#formCalcularIMC{
    display: none;
}
#formCalcularIMC.active{
    display: block;
}
.botao-estilizado {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 23%;
    height: 55px;
  }

  .botao-estilizado:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  }

  .botao-estilizado:active {
    transform: translateY(0);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  }
.banner-dieta {
    position: relative;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    background: linear-gradient(to right, rgb(0 103 231 / 60%), rgb(0 147 255 / 10%)), url(/static/img/fruta6.png) center / cover no-repeat;
}